body {
    background-color: rgb(222, 229, 33);
}

.form_page {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin-top: 100px
}

.card_style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container_page {
    padding-bottom: 20px;
}

.modal-body {
    display: flex;
    padding: 10px;
    align-items: center;
}

.modal-body p {
    padding: 10px
}